@use '_variables' as *;

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.hidden {
    display: none;
}

.invisiable {
    visibility: hidden;
}

@media (max-width: $mobile) {
    .flex {
        flex-direction: column;
    }
}