@use "_variables" as *;

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.hidden {
  display: none !important;
}

.invisiable {
  visibility: hidden;
}

.h-full {
  height: 100%;
}

.no-scroll {
  height: 100dvh;
  overflow: hidden;
}

@media (max-width: $mobile) {
  .flex {
    flex-direction: column;
  }
}
