// colors
$black: #191919;
$primary: #725A58;
$accent: #E3B6B1;
$light-pink: #FAE9E7;
$pale-white: #F8F6F4;
$paper-white: #FBFAFA;
$white: #FFFFFF;
$mid-grey: #A3A3A3;
$dark-grey: #535353;
$dark-pink: #B99692;
$brown: #A06D67;

// breakpoints
$mobile: 640px;
$tablet: 1280px;


// mixins
@mixin flex-vertical($gap: 0, $align: center) {
    display: flex;
    flex-direction: column;
    align-items: $align;
    gap: $gap;
}

@mixin bg-image($url, $size: 100% auto, $position: center) {
    background-image: url($url);
    background-size: $size;
    background-repeat: no-repeat;
    background-position: $position;
}